<h2 id="page-title">All Bookmarks</h2>

<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <h4><%= link_to "##{topic.title}", topic_path(topic.id) %></br></h4>
      <% topic.bookmarks.each do |bookmark| %>
        <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
        <%= link_to "#{bookmark.url}", "http://#{bookmark.url}", target: "_blank" %></br></br>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-primary' %>
  </div>
</div>
