<h2>All Bookmarks</h2>

<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <h4><%= link_to "##{topic.title}", topic_path(topic.id) %></br></h4>
      <% topic.bookmarks.each do |bookmark| %>
        <%= link_to "#{bookmark.url}", "http://#{bookmark.url}", target: "_blank" %></br>
      <% end %>
    <% end %>
  </div>
</div>
